<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        pre {
            background-color: #f4f4f4;
            padding: 10px;
            border-radius: 5px;
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <!-- Reset button to clear data -->
    <form method="get">
        <button type="submit" name="option" value="">Clear Response</button>
    </form>

    <h1>API Endpoints</h1>
    <form method="get">
        <select name="option" onchange="this.form.submit()">
            <option value="">Select an API</option>
            {% for key in api_endpoints.keys %}
                <option value="{{ key }}" {% if selected_option == key %}selected{% endif %}>{{ key }}</option>
            {% endfor %}
        </select>
    </form>

    <br>

    {% if selected_option == "POST CREATE USER" %}
    <h2>Create a User</h2>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="option" value="POST CREATE USER">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="job">Job:</label>
        <input type="text" id="job" name="job" required>
        <br>
        <button type="submit">Create User</button>
    </form>
    {% endif %}

    <br>
    {% if api_details %}
    <div>
        <h2>Request: {{ api_details.request }}</h2>
        <h2>Status Code: {{ api_details.response }}</h2>
        <h3>Response:</h3>
        <pre>{{ api_details.data }}</pre>
    </div>
{% endif %}

    <br>
    <a href="/support">Go to Support Page</a>
</body>
</html>
